<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-home"></i>                 
    </span> Dashboard
    </h3>
</div>
<div class="row">
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body" routerLink="/education">
                <img src="assets/images/dashboard/education.png" class="card-body" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Education
                    <i class="mdi mdi-book-open-page-variant mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5"></h2>
                <h6 class="card-text"></h6>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-primary card-img-holder text-white">
            <div class="card-body" routerLink="/revenue">
                <img src="assets/images/dashboard/revenue.png" class="card-body" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">Revenue
                    <i class="mdi mdi-bank mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5"></h2>
                <h6 class="card-text"></h6>
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body" routerLink="/socialsecurity">
                <img src="assets/images/dashboard/socialsecurity.png" class=" card-body " alt="circle-image " />
                <h4 class="font-weight-normal mb-3 ">Social Security
                    <i class="mdi mdi-lock-open-outline mdi-24px float-right "></i>
                </h4>
                <h2 class="mb-5 "></h2>
                <h6 class="card-text "></h6>
            </div>
        </div>
    </div>
</div>